body {
    background: linear-gradient(90deg, #55c2f5 0%, #29f57e 80%);
}

#marque{
    font-size: 40px;
    margin: 0;
    background-color: #ff4444;
    -webkit-text-stroke: 2.5px;
}

#text-content h1 {
    justify-content: center;
    display: flex;
    font-size: 100px;
    margin: 0;
}

#text-content h4 {
    justify-content: center;
    display: flex;
    border-style: solid;
    background: linear-gradient(90deg, red 10%, blue 90%);
    border-radius: 50px;
    border-width: 20px;
    margin:0 30% 0 30%;
    font-size: 45px;
}

#image-container {
    display: flex;
    justify-content: center;
}

#text-container-margin {
    display: inline-flex;
}

#guiven-text{
    justify-content: center;
    display: flex;
    padding-top: 30px;
    font-size: 50px;
    font-family: arial;
    margin: 0;
    -webkit-text-stroke: 4px;
    color: white ;
}

#guiven-image {
    justify-content: center;
    display: flex;
    height: 400px;
}

#link-text {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#image-content-2 {
    display: flex;
    justify-content: center;
}